etc/brazil_zipcode_services.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="services">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="service" type="serviceItem"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="serviceItem">
        <xs:sequence>
            <xs:element name="name" />
            <xs:element name="class" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="id" use="required" />
    </xs:complexType>
</xs:schema>